html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

#background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../images/field.jpg");
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}

h1 {
	text-align: center;
	font-size: 300%;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

h2 {
	text-align: center;
	font-size: 170%;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

h3 {
	display: inline-block;
	margin-bottom: 20px;
}

#form {
	text-align: center;
}

#price {
	font-size: 200%;
}

p {
	text-align: center;
}