html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

#background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../images/field.jpg");
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}

h1 {
	text-align: center;
	font-size: 500%;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	margin: 0;
}

h2 {
	text-align: center;
	font-size: 250%;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

h3 {
	display: inline-block;
	margin-bottom: 20px;
}

h3#location {
	margin-bottom: 50px;
}

#form {
	font-size: 150%;
	text-align: center;
}

button {
	width: 200px;
	padding: 5px;
	border-radius: 10px;
	font-size: 100%;
	border: 2px solid white;
}

button:hover {
	background-color: green;
}

#price {
	font-size: 200%;
}

p {
	text-align: center;
}